@import "tailwindcss";

@font-face {
    font-family: 'cakefont';
    src: url('../font/cakedingbats-webfont.eot');
    src: url('../font/cakedingbats-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/cakedingbats-webfont.woff2') format('woff2'),
    url('../font/cakedingbats-webfont.woff') format('woff'),
    url('../font/cakedingbats-webfont.ttf') format('truetype'),
    url('../font/cakedingbats-webfont.svg#cake_dingbatsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-cake: #D33C43;
    --color-base-100: #353742;
    --color-base-200: #1a1a1a;
    --color-base-300: #0f0f0f;
    --color-link: #2d7ea4;
}

/* Styling for default app homepage */
a {
    @apply text-link hover:text-sky-600 transition-all underline;
}

.bullet:before {
    font-family: 'cakefont', sans-serif;
    font-size: 18px;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: -1px;
}

.success:before {
    color: #88c671;
    content: "\0056";
}

.problem:before {
    @apply text-cake;
    content: "\0057";
}
